.mycontainer{
    background-color: blue;
    height: 300px;
}

.figma{
    background-color: rgb(159, 200, 200);
    height: 500px;
}

.second{
    background-color: rgb(159, 200, 200);
    height: 500px;
}